@import '@mantine/core/styles.css';
@import '@mantine/notifications/styles.css';
@import "tailwindcss";


@theme inline {
  --font-heading: var(--font-cormorant);
  --font-body: var(--font-montserrat);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-montserrat), sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-cormorant), serif;
}

